<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image justify-content-end">
        <div class="pl-3 pt-5 d-flex flex-column justify-content-between main-container" style="padding-top: 10rem !important;">
          <div>
            <img src="../../../../../assets/images/logo.svg" alt="">
          </div>
          <div>
            <h1 class="fw-bold text-left text-white" style="width: 389px;">All I need to tell you is Listen</h1>
            <h3 class="fw-400"  style="width: 449px; color: #e1e1e1 !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.</h3>
          </div>
          <div class="d-flex flex-column align-items-end">
            <div class="w-100">
              <img class="w-100" src="../../../../../assets/images/safari-bar.svg" alt="">
            </div>
            <div class="w-100">
              <img class="w-100" src="../../../../../assets/images/dashboard-image.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h1 class="fw-bold text-dark ">Welcome!</h1>
                <h3 class="login-heading mb-4">Login with username and password</h3>
                <form [formGroup]="loginForm" class="d-flex flex-column gap-3">
                  <div class="form-group">
                    <label for="inputEmail1">Email address</label>
                    <input type="email" class="form-control" id="inputEmail1" formControlName="username"
                      aria-describedby="emailHelp" placeholder="Enter email">
                    <div *ngIf="loginForm.get('username')!.hasError('required') && loginForm.get('username')!.touched"
                      class="text-danger">Email is required</div>
                    <div *ngIf="loginForm.get('username')!.hasError('username') && loginForm.get('username')!.touched"
                      class="text-danger">Invalid email format</div>
                  </div>
                  <div class="form-group input-group">
                    <label for="inputPassword1">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" id="inputPassword1" placeholder="Password"
                        formControlName="password">
                      <button class="btn btn-outline-secondary text-primary " style="background: #e9f0f5; border: 1px solid #e1e1e1; border-left: none ;" type="button" id="resetPassword">Reset
                        Password</button>
                    </div>
                    <div *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched"
                      class="text-danger">Password is required</div>
                  </div>
                  <div class="d-grid pt-3">
                    <button class="btn btn-lg btn-primary btn-login fw-bold mb-2" type="submit"
                      (click)="onSubmit()">{{loading ? 'Loading...' : 'Login'}}</button>
                    <div class="text-center">
                      <p>Don’t have an account? <a class="small" href="#">Signup</a></p>
                    </div>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="toast align-items-center text-bg-danger border-0 toast" [ngStyle]="{'display': showToast ? 'block' : 'none'}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            {{toastMessage}}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" (click)="closeToast()"></button>
        </div>
      </div>
    </div>
  </div>